<strong> Recuperalção de senha</strong>

<p>
     Um solicitação de recuperação de senha foi realizada para o e-mail ({{ email }}).
     Se você não fez essa solicitação seria legal trocar sual senha.
</p>

<p>
    Para continuar com a recuperação de senha, utilize o token ({{ token }})
    ou clicle no link abaixo:
</p>

<a href="{{ link }}"> Criar uma nova senha</a>